{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="no-cache">
  <meta http-equiv="Expires" content="-1">
  <meta http-equiv="Cache-Control" content="no-cache">
  <meta name="description"
    content="Create a USPS.com(registered trademark symbol) account to print shipping labels, request a Carrier Pickup, buy stamps, shop, plus much more.">
  <meta name="keywords" content="">
  <meta name="author" content="www.usps.com">
  <link rel="icon" href="https://reg.usps.com/entreg/favicon.ico">
  <title>Logistics Gateway</title>

  <!-- USPS global -->
  <link href="{% static 'styles/usps-fonts.css' %}" rel="stylesheet">
  <!-- Bootstrap core CSS -->
  <link href="{% static 'styles/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{% static 'styles/bootstrap-sticky-footer.css' %}" rel="stylesheet">
  <link href="{% static 'styles/theme.css' %}" rel="stylesheet">

  <!-- Bootstrap JS -->
  <script src="{% static 'scripts/jquery-3.4.1.min.js' %}"></script>
  <script src="{% static 'scripts/bootstrap.min.js' %}"></script>

  <!-- USPS Custom JS -->
  <script src="{% static 'scripts/bpglg.js' %}"></script>
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
																	<script src="/entreg/assets/js/vendor/bootstrap/3.3.5/html5shiv.min.js"></script>
																	<script src="/entreg/assets/js/vendor/bootstrap/3.3.5/respond.min.js"></script>
																	<![endif]-->
</head>

<body>
  <nav id="usps-navbar" class="navbar navbar-default navbar-static-top">
    <div class="navbar-header" style="padding-left: -2px">

      <a href="/">
        <img class="img-responsive" id="Image_18_bdx" alt="Main Image" src="{% static 'images/Image_18_bdx.png' %}">
      </a>
    </div>
    <div class="container"></div>
  </nav>
  <div class="container">
    <div class="page-header-no-border">
      <h1 id="sign-in-to-your-account-header">Welcome to the Logistics Gateway</h1>
      <h1 id="change-your-password-header" class="hidden">Change Your Password</h1>
    </div>
  </div>
  <div class="container" role="main" id="content">
    <div id="double-click" class="doubleclick sr-only"></div>
    <form id="loginForm" name="loginForm" action="" method="post">
      {% csrf_token %}
      <input type="hidden" name="struts.token.name" value="token">
      <div class="section-wrap" id="login-jumbotron-box">
        <div class="row" id="row-1">
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="row">
              <div class="col-xs-12 col-sm-9 col-md-9">
                <div id="sign-in-wrap">
                  <h3>Already have an account?</h3>
                  <strong>Sign in Here</strong>
                  <a role="button" id="password-tip" tabindex="11" title="" data-placement="top" data-toggle="popover"
                    data-original-title="You will be redirected to Azure SignIn">
                    <img src="{% static 'images/info-help15x15.png' %}" class="info-label" alt="tool tip" width="15"
                      height="15">
                  </a>
                  <br>
                  <div id="response-msg"></div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3"></div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-9 col-md-5">
                <div class="btn-wrap">
                  <button type="button" class="btn btn-primary btn-lg btn-block" id="btn-submit" tabindex="14">Sign
                    In</button>
                </div>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-7">
                <img id="login-ajax-loading-1" class="ajax-loading hidden" height="32" width="32"
                  src="{% static 'images/ajax-loader-t.gif' %}" alt="loading...">
              </div>
            </div>
          </div>
    </form>
    <div class="col-xs-12 col-sm-12 col-md-6">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <div class="well well-lg hidden-xs">
            <h3>Register with Us</h3>
            <strong>New users can register for a Logistics Gateway account.</strong>
            <p></p>
            <div>
              <h3 class="subhead">{{ response_message.invitation_message}}</h3>
            </div>
            {% if form %}
            <!-- Form Errors -->
            {% if form.errors %}
            <ul class="errors">
              {% for error in form.errors %}
              <li>{{ error }}</li>
              {% endfor %}
            </ul>
            {% endif %}
            <!-- Display Form -->
            <form id="registerForm" name="registerForm" action="" method="POST" class="form-group was-validated">
              {% csrf_token %}
              {% for field in form %}
              {% if field.name == 'tncFlag' %}
              <div class="form-group has-feedback {{display_main_form}}" id="form-group-{{ field.id_for_label}}">
                <label id="for-{{ field.id_for_label}}" for="{{ field.id_for_label}}" class="control-label">
                  {{ field }} I accept the <a href="#" class="link-info">Terms and Conditions</a>. </label>

              </div>
              {% else %}
              <div class="form-group has-feedback {{display_main_form}}" id="form-group-{{ field.id_for_label}}">
                <label id="for-{{ field.id_for_label}}" for="{{ field.id_for_label}}" class="control-label">
                  <span class="required">*</span> {{ field.label }} </label>
                {{ field }}
                <span class="error-txt" id="error-{{ field.id_for_label}}"></span>
                <span class="sr-only" id="sr-only-error-{{ field.id_for_label}}"></span>
              </div>
              {% endif %}
              
              {% endfor %}
              <span class="error-txt" id="error-validation"><b>{{ response_message.validation_error }}</b></span>
              {% endif %}

              {% if otp_flag == 'Y' %}
              <!-- div class="two-factor-container" id="twoFactorDiv"-->
                <div class="row grid-row-margin-24">
                  <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 text-center">
                    <img src="{% static 'images/2fa-icon.png' %}" alt="muli-factor authentication icon" width="50"
                      height="50">
                    <h1>Enter your code</h1>
                  </div>
                </div>
                <div class="row grid-row-margin-24">
                  <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 text-center">
                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-12">
                        <p id="code-via-sms-msg"> We sent a 6-digit verification code to {{ form.workEmail.value }}<strong>                          
                          </strong>
                          <span class="visible-xs-inline-block">
                            <a title="Verification Code" tabindex="25" class="mfa-modal" role="button"
                              data-toggle="modal">
                              <img src="{% static 'images/info-help15x15.png' %}" class="info-label" alt="tool tip"
                                height="15" width="15">
                            </a>
                          </span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row grid-row-margin-24">
                  <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="form-group" id="form-group-twoFactorCode">
                      <div class="input-container col-md-6">
                        <input type="text" name="twoFactorCode" maxlength="6" value="" tabindex="26" id="twoFactorCode"
                          class="form-control two-factor-input" inputmode="numeric" autocomplete="off"
                          placeholder="Verification Code" required>
                      </div>
                      <div class="input-container col-md-6">    
                        <button type="button" id="resend-code" onClick="javascript:getOtp();javascript:resendCountDown();" tabindex="27" class="btn btn-link" title="Send a new code now" disabled>
                          Resend Code<span id="span-count"></span></button>   
                          <script type="text/javascript">
                            resendCountDown();
                         </script>                                        
                      </div>
                      <div class="input-container col-md-12">
                      <span id="error-twoFactorCode" class="error-txt">{{ response_message.error_twoFactorCode }}</span>
                      <span class="sr-only" id="sr-only-error-twoFactorCode"></span>
                      </div>
                    </div>
                  </div>
                </div>                
               
              <!--/div-->

              {% endif %}
              {% if response_message.invitation_message is None or  response_message.invitation_message == '' %}
              <div class="btn-wrap">
                <button class="btn btn-primary btn-lg" type="submit" value="Submit" id="btnRegisterSubmit">
                  {% if otp_flag == 'Y'%}
                  Verify
                  {% else %}
                  Sign Up
                  Now
                {%endif%}
              </button>
              </div>
              {% endif %}
            </form>
          </div>

         
        </div>
      </div>
    </div>
  </div>
  
  <div class="row hidden" id="row-4">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="two-factor-container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 text-center">
            <img src="{% static 'images/2fa-icon.png' %}" alt="multi-factor authentication icon" width="50" height="50">
            <h1>Get your one-time code</h1>
          </div>
        </div>
        <div class="row grid-row-margin-68">
          <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 text-center">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="mfa-choice-container">
                  <hr class="mfa-horizontal-bar">
                  <div class="text-left">
                    <div class="radio" id="choice-email-radio">
                      <label class="mfa-choice-label-text" style="font-size: 16px;">
                        <input type="radio" name="mfaTypeRadio" id="mfa-type-radio-email" class="mfa-choice-radio"
                          value="email" style="margin: 5px 0 0 -20px;" checked=""> Email message to <strong>
                          <span id="choice-email-masked" class="mfa-option-text">xxx</span>
                        </strong>
                      </label>
                    </div>
                    <div class="hidden" id="mfa-type-email-disabled-msg">
                      <p class="error-txt mfa-unavailable-margin">
                        <!--<span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span> -->The email
                        messaging option is temporarily unavailable.
                      </p>
                    </div>
                    <div class="radio" id="choice-sms-radio">
                      <label class="mfa-choice-label-text" style="font-size: 16px;">
                        <input type="radio" name="mfaTypeRadio" id="mfa-type-radio-sms" class="mfa-choice-radio"
                          value="sms" style="margin: 5px 0 0 -20px;"> Text message to <strong>
                          <span class="mfa-option-text">
                            <span id="choice-mobile-number-last-two">xx</span>
                          </span>
                        </strong>
                      </label>
                      <span class="hidden-xs">
                        <a role="button" id="rates-apply-tip" tabindex="28" title="" data-placement="left"
                          data-remotecontent="/entreg/assets/html/tooltips/tool-tip-mfa-code.html" data-toggle="popover"
                          data-original-title="Verification Code">
                          <img src="{% static 'images/info-help15x15.png' %}" class="info-label" alt="tool tip"
                            height="15" width="15">
                        </a>
                      </span>
                      <span class="visible-xs-inline-block">
                        <a title="Verification Code" tabindex="29" class="mfa-modal" role="button" data-toggle="modal">
                          <img src="{% static 'images/info-help15x15.png' %}" class="info-label" alt="tool tip"
                            height="15" width="15">
                        </a>
                      </span>
                    </div>
                    <div class="hidden" id="mfa-type-sms-disabled-msg">
                      <p class="error-txt mfa-unavailable-margin">
                        <!--<span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span> -->The SMS text
                        messaging option is temporarily unavailable.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row grid-row-margin-24">
          <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-4">
            <div class="row">
              <div class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0 col-md-6">
                <div class="btn-wrap-single text-center">
                  <button type="button" class="btn btn-primary btn-lg" id="btn-2fa-type-continue"
                    tabindex="30">Continue</button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6">
                <p class="text-center">
                  <span id="2fa-type-msg" class="error"></span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row hidden" id="row-5">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="two-factor-container">
        <div class="row grid-row-margin-24">
          <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 text-center">
            <img src="{% static 'images/2fa-icon.png' %}" alt="multi-factor authentication icon" width="50" height="50">
            <h1>Enter your code</h1>
          </div>
        </div>
        <div class="row grid-row-margin-24">
          <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 text-center">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12">
                <p id="code-via-email-msg">We sent a 6-digit verification code to <strong>
                    <span class="mfa-option-text">
                      <span id="email-masked">xxx</span>
                    </span>
                  </strong>. </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row grid-row-margin-24">
          <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
            <div class="form-group" id="form-group-twoFactorEmailCode">
              <label id="for-twoFactorEmailCode" for="twoFactorEmailCode" class="control-label sr-only">
                <span class="required">*</span> Multi-Factor Code </label>
              <div class="input-container">
                <input type="text" name="twoFactorEmailCode" maxlength="6" value="" tabindex="31"
                  id="twoFactorEmailCode" class="form-control" inputmode="numeric" autocomplete="off"
                  placeholder="Verification Code">
                <a id="send-new-email-code"
                  href="https://reg.usps.com/entreg/LoginAction_input?app=Phoenix&amp;appURL=https://www.usps.com/&amp;_gl=1*1dibzil*_ga*MTIzODAwNTgxOS4xNjc3NzYzNjUy*_ga_3NXP3C8S9V*MTY3Nzc2MzY1Mi4xLjEuMTY3Nzc2NDk2My4wLjAuMA..#"
                  tabindex="32" class="small link-inside-input" title="Send a new code now">Resend</a>
              </div>
              <span id="error-twoFactorEmailCode" class="error-txt"></span>
              <span class="sr-only" id="sr-only-error-twoFactorEmailCode"></span>
            </div>
          </div>
        </div>
        <div class="row grid-row-margin-24">
          <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-4">
            <div class="row">
              <div class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0 col-md-6">
                <div class="btn-wrap-single text-center">
                  <button type="button" class="btn btn-primary btn-lg" id="btn-2fa-email-continue"
                    tabindex="33">Verify</button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6">
                <p class="text-center">
                  <span id="2fa-email-error-msg" class="error"></span>
                </p>
                <p id="send-new-email-code-msg" class="valid-status hidden">
                  <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                  <strong>A new code has been sent to your email address!</strong>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!--/sectionwrap -->

  </div>
  <!--/container -->
  <div class="modal fade" id="mfa-modal" tabindex="-1" role="dialog" aria-labelledby="mfa-modal-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close close-small" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
              <strong>×</strong>
            </span>
          </button>
          <h4 class="modal-title" id="mfa-modal-label">
            <strong>Verification Code</strong>
          </h4>
        </div>
        <div class="modal-body"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container small">
      <div class="row no-gutters">
        <div class="col-xs-12 col-sm-12 col-md-12 footer-logo">
          <img
            alt="USPS.com home. The profile of an eagle's head adjoining the words United States Postal Service are the two elements that are combined to form the corporate signature."
            src="{% static 'images/logo-mini-sb.png' %}">
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-xs-12 col-sm-6 col-md-3" style="padding-left:0;">
          <div class="footer-sub-heading first-sub-heading">helpful links</div>
          <ul class="list-unstyled nav-options">
            <li>
              <a href="https://www.usps.com/help/contact-us.htm">Contact Us</a>
            </li>
            <li>
              <a href="http://www.usps.com/globals/site-index.htm">Site Index</a>
            </li>
            <li>
              <a href="http://faq.usps.com/">FAQs</a>
            </li>
          </ul>
          <div class="footer-sub-heading">USPS Jobs</div>
          <ul class="list-unstyled nav-options">
            <li>
              <a href="http://about.usps.com/careers/welcome.htm">Careers</a>
            </li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3" style="padding-left:0;">
          <div class="footer-sub-heading">On about.usps.com</div>
          <ul class="list-unstyled nav-options">
            <li>
              <a href="http://about.usps.com/">About USPS Home</a>
            </li>
            <li>
              <a href="http://about.usps.com/news/welcome.htm">Newsroom</a>
            </li>
            <li>
              <a href="http://about.usps.com/news/service-alerts/welcome.htm">USPS Service Updates</a>
            </li>
            <li>
              <a href="http://about.usps.com/forms-publications/welcome.htm">Forms &amp; Publications</a>
            </li>
            <li>
              <a href="https://www.usps.com/gov-services/gov-services.htm">Government Services</a>
            </li>
          </ul>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-xs-12 col-sm-6 col-md-3" style="padding-left:0;">
          <div class="footer-sub-heading">Other USPS Sites</div>
          <ul class="list-unstyled nav-options">
            <li>
              <a href="https://gateway.usps.com/">Business Customer Gateway</a>
            </li>
            <li>
              <a href="https://postalinspectors.uspis.gov/">Postal Inspectors</a>
            </li>
            <li>
              <a href="http://www.uspsoig.gov/">Inspector General</a>
            </li>
            <li>
              <a href="http://pe.usps.com/">Postal Explorer</a>
            </li>
            <li>
              <a target="_blank" href="http://www.postalmuseum.si.edu/">National Postal Museum</a>
            </li>
            <li>
              <a href="https://www.usps.com/webtools/welcome.htm">Resources for Developers</a>
            </li>
            <li>
              <a href="https://postalpro.usps.com/">PostalPro</a>
            </li>
            <li>
              <a href="https://www.usps.com/datadial">USPS Customer Data Dial</a>
            </li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3" style="padding-left:0;">
          <div class="footer-sub-heading">Legal Information</div>
          <ul class="list-unstyled nav-options">
            <li>
              <a href="http://about.usps.com/who-we-are/privacy-policy/privacy-policy-highlights.htm">Privacy Policy</a>
            </li>
            <li>
              <a href="http://about.usps.com/termsofuse.htm">Terms of Use</a>
            </li>
            <li>
              <a href="http://about.usps.com/who-we-are/foia/welcome.htm">FOIA</a>
            </li>
            <li>
              <a href="http://about.usps.com/who-we-are/no-fear-act/welcome.htm">No FEAR Act EEO Data</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row copy-no-gutters">
        <div class="col-xs-12 col-sm-12 col-md-12 copy-border">
          <span id="footer-copyright">Copyright © 2023 USPS. All Rights Reserved.
            <!-- [Build 9.0.62 December 16, 2022] -->
          </span>
        </div>
      </div>
    </div>
  </footer>
  <script type="text/javascript">
    var isLoggedIn = false;
  </script>
  <!-- More Scripts-->
  <noscript>JavaScript has been disabled in your browser, please check if the URL in the address bar originates from
    https://www.usps.com</noscript>
  <div class="modal fade" id="session-timeout-modal" tabindex="-1" role="dialog"
    aria-labelledby="session-timeout-modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="session-expiring-label">Session Expiring</h4>
        </div>
        <div class="modal-body">
          <p>Due to inactivity, your session will expire in <span id="sessionCountdown"></span> and you will be
            automatically redirected to sign back on. <br>
            <br>To keep your session alive, click 'Continue'.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-lg" id="session-refresh-btn">Continue</button>
        </div>
      </div>
    </div>
  </div>
  <!-- 1a8a.usps.gov -->
  <!-- [Build 9.0.62 December 16, 2022] -->
  <div id="blockUI" style="display:none;"></div>
  {%if otp%}
  Test OTP:  {{ otp }}
  {%endif%}

</body>

</html>