{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="no-cache">
  <meta http-equiv="Expires" content="-1">
  <meta http-equiv="Cache-Control" content="no-cache">
  <meta name="description" content="Manage Users for the Logistics Gateway">
  <meta name="keywords" content="">
  <meta name="author" content="www.usps.com">
  <link rel="icon" href="https://reg.usps.com/entreg/favicon.ico">
  <title>Logistics Gateway - User Management</title>

  <!-- USPS global -->
  <link href="{% static 'styles/usps-fonts.css' %}" rel="stylesheet">
  <!-- Bootstrap core CSS -->
  <link href="{% static 'styles/bootstrap.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
  <!-- Custom styles for this template -->
  <link href="{% static 'styles/bootstrap-sticky-footer.css' %}" rel="stylesheet">
  <link href="{% static 'styles/theme.css' %}" rel="stylesheet">

  <!-- Bootstrap JS -->
  <script src="{% static 'scripts/jquery-3.4.1.min.js' %}"></script>
  <script src="{% static 'scripts/bootstrap.min.js' %}"></script>

  <!-- USPS Custom JS -->
  <script src="{% static 'scripts/bpglg.js' %}"></script>
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
																	<script src="/entreg/assets/js/vendor/bootstrap/3.3.5/html5shiv.min.js"></script>
																	<script src="/entreg/assets/js/vendor/bootstrap/3.3.5/respond.min.js"></script>
																	<![endif]-->
</head>

<body>
  <nav id="usps-navbar" class="navbar navbar-default navbar-static-top">
    <div class="navbar-header" style="padding-left: -2px">

      <a href="/">
        <img class="img-responsive" id="Image_18_bdx" alt="Main Image" src="{% static 'images/Image_18_bdx.png' %}">
      </a>
    </div>
    <div class="container"></div>
  </nav>
  <div class="container">
    <div class="page-header-no-border">
      <h2>Logistics Gateway - User Management</h2>
    </div>
  </div>
  <div class="container" role="main" id="content">
    <form id="searchUserForm" name="searchUserForm" action="" method="POST" class="form-group was-validated">
      {% csrf_token %}

      <div class="row" id="row-1">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-6">
              <div>
                <h3>Manage Users</h3>
              </div>
            </div>
          </div>
          <div class="row">

            {% for field in form %}
            {% if field.name != 'tncFlag' %}

            <div class="form-group {{display_main_form}} col-xs-12 col-sm-9 col-md-2"
              id="form-group-{{ field.id_for_label}}">
              <label id="for-{{ field.id_for_label}}" for="{{ field.id_for_label}}" class="control-label">
                <span>&nbsp; </span> {{ field.label }} </label>
              {{ field }}
              <span class="error-txt" id="error-{{ field.id_for_label}}"></span>
              <span class="sr-only" id="sr-only-error-{{ field.id_for_label}}"></span>
            </div>
            {% endif %}

            {% endfor %}
            <div class="row">
              <div class="col-xs-12 col-sm-9 col-md-3">
                <div class="btn-wrap">
                  <button type="submit" class="btn btn-primary btn-sm" id="btnSearchSubmit" tabindex="14">Search for a
                    User</button>
                </div>
              </div>
              <div class="col-xs-12 col-sm-9 col-md-3">
                <div class="btn-wrap">
                  <button type="button" class="btn btn-secondary btn-sm" id="btnRegisterUsersubmit"
                    tabindex="15">Register User</button>
                </div>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-7">
                <img id="login-ajax-loading-1" class="ajax-loading hidden" height="32" width="32"
                  src="{% static 'images/ajax-loader-t.gif' %}" alt="loading...">
              </div>
            </div>
            <div class="row">
              <span class="error-txt" id="formSearchErr"></span>
            </div>
          </div>
        </div>

      </div>

    </form>
  </div>
  {% if users_list %}
  <div class="container" role="main" id="table-search">
    <div id="row-main-table" class="row">
      <table class="table table-sm table-striped table-bordered table-hover" id="tblUsers">
        <thead class="thead-dark">
          <tr class="table-primary">
            <th scope="col" class="text-center active"></th>
            <th scope="col" class="active">Last Name</th>
            <th scope="col" class="active">First Name</th>
            <th scope="col" class="active">Email</th>
            <th scope="col" class="active">Company</th>
            <th scope="col" class="active">SCAC</th>
            <th scope="col" class="active">DUNS</th>
          </tr>
        </thead>
        <tbody>

          {% for user in users_list %}
          <tr>
            <th scope="row"><button type="button" class="btn btn-info"><i class="fa-solid fa-pen-to-square"></i>Edit User Access</button></th>
            <td> {{ user.lastName }}</td>
            <td> {{ user.firstName }}</td>
            <td> {{ user.workEmail }}</td>
            <td> {{ user.company }}</td>
            <td> {{ user.scac }}</td>
            <td> {{ user.duns }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endif %}

  <footer class="footer">
    <div class="container small">
      <div class="row no-gutters">
        <div class="col-xs-12 col-sm-12 col-md-12 footer-logo">
          <img
            alt="USPS.com home. The profile of an eagle's head adjoining the words United States Postal Service are the two elements that are combined to form the corporate signature."
            src="{% static 'images/logo-mini-sb.png' %}">
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-xs-12 col-sm-6 col-md-3" style="padding-left:0;">
          <div class="footer-sub-heading first-sub-heading">helpful links</div>
          <ul class="list-unstyled nav-options">
            <li>
              <a href="https://www.usps.com/help/contact-us.htm">Contact Us</a>
            </li>
            <li>
              <a href="http://www.usps.com/globals/site-index.htm">Site Index</a>
            </li>
            <li>
              <a href="http://faq.usps.com/">FAQs</a>
            </li>
          </ul>
          <div class="footer-sub-heading">USPS Jobs</div>
          <ul class="list-unstyled nav-options">
            <li>
              <a href="http://about.usps.com/careers/welcome.htm">Careers</a>
            </li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3" style="padding-left:0;">
          <div class="footer-sub-heading">On about.usps.com</div>
          <ul class="list-unstyled nav-options">
            <li>
              <a href="http://about.usps.com/">About USPS Home</a>
            </li>
            <li>
              <a href="http://about.usps.com/news/welcome.htm">Newsroom</a>
            </li>
            <li>
              <a href="http://about.usps.com/news/service-alerts/welcome.htm">USPS Service Updates</a>
            </li>
            <li>
              <a href="http://about.usps.com/forms-publications/welcome.htm">Forms &amp; Publications</a>
            </li>
            <li>
              <a href="https://www.usps.com/gov-services/gov-services.htm">Government Services</a>
            </li>
          </ul>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-xs-12 col-sm-6 col-md-3" style="padding-left:0;">
          <div class="footer-sub-heading">Other USPS Sites</div>
          <ul class="list-unstyled nav-options">
            <li>
              <a href="https://gateway.usps.com/">Business Customer Gateway</a>
            </li>
            <li>
              <a href="https://postalinspectors.uspis.gov/">Postal Inspectors</a>
            </li>
            <li>
              <a href="http://www.uspsoig.gov/">Inspector General</a>
            </li>
            <li>
              <a href="http://pe.usps.com/">Postal Explorer</a>
            </li>
            <li>
              <a target="_blank" href="http://www.postalmuseum.si.edu/">National Postal Museum</a>
            </li>
            <li>
              <a href="https://www.usps.com/webtools/welcome.htm">Resources for Developers</a>
            </li>
            <li>
              <a href="https://postalpro.usps.com/">PostalPro</a>
            </li>
            <li>
              <a href="https://www.usps.com/datadial">USPS Customer Data Dial</a>
            </li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3" style="padding-left:0;">
          <div class="footer-sub-heading">Legal Information</div>
          <ul class="list-unstyled nav-options">
            <li>
              <a href="http://about.usps.com/who-we-are/privacy-policy/privacy-policy-highlights.htm">Privacy Policy</a>
            </li>
            <li>
              <a href="http://about.usps.com/termsofuse.htm">Terms of Use</a>
            </li>
            <li>
              <a href="http://about.usps.com/who-we-are/foia/welcome.htm">FOIA</a>
            </li>
            <li>
              <a href="http://about.usps.com/who-we-are/no-fear-act/welcome.htm">No FEAR Act EEO Data</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row copy-no-gutters">
        <div class="col-xs-12 col-sm-12 col-md-12 copy-border">
          <span id="footer-copyright">Copyright © 2023 USPS. All Rights Reserved.
            <!-- [Build 9.0.62 December 16, 2022] -->
          </span>
        </div>
      </div>
    </div>
  </footer>
  <script type="text/javascript">
    var isLoggedIn = false;
  </script>
  <!-- More Scripts-->
  <noscript>JavaScript has been disabled in your browser, please check if the URL in the address bar originates from
    https://www.usps.com</noscript>

  <div id="blockUI" style="display:none;"></div>

  <!-- Scripts to handle submission-->
  <script>
   $('#searchUserForm').submit(function(event) {
    if ($('[name="lastName"]').val().length == 0 && $('[name="firstName"]').val().length == 0 && $('[name="workEmail"]').val().length == 0 && $('[name="company"]').val().length == 0) {
        $('#formSearchErr').html("Please provide at least one of the value to search");
        return false;
    } else { // disable to avoid double submission
        $('#login-ajax-loading-1').removeClass('hidden');
        $('#btnSearchSubmit').attr('disabled', true);
        $('#btnSearchSubmit').html('Please Wait');
        $('#formSearchErr').text("")
        
        
    }
});
  </script>

</body>

</html>