{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<script>
		/*
		* show and hide descriptions for services
		*/
		showHideDesc = function (id, ctx) {
			var approvedNum = id;
			var descNum = "desc" + id;
			var dropText = "more" + id;
			var origin = window.location.protocol + "//" + window.location.host + ctx;
			if (document.getElementById(approvedNum).alt == "image of plus symbol") {
				document.getElementById(approvedNum).src = "{% static 'icons/minus-grey.png' %}";
				document.getElementById(approvedNum).alt = "image of minus symbol";
				document.getElementById(descNum).style.display = "block";
				document.getElementById(dropText).alt = "less" + id;
				document.getElementById(dropText).title = "Click to minimize";
				document.getElementById(dropText).innerHTML = "less info >";
			} else {
				document.getElementById(approvedNum).src = "{% static 'icons/plus-grey.png' %}";
				document.getElementById(approvedNum).alt = "image of plus symbol";
				document.getElementById(descNum).style.display = "none";
				document.getElementById(dropText).alt = "more" + id;
				document.getElementById(dropText).title = "Click to learn more"
				document.getElementById(dropText).innerHTML = "more info >";
			}
		};
		openSupplierPopup = function(id){
			console.log(id);
			supplierIDs = '';
			supplierIDArr = [];

			if (document.getElementById('modalHiddenAttr')){
			document.getElementById('modalHiddenAttr').setAttribute("data-focus", id);}
			else {
			var input = document.createElement("input");
			input.setAttribute("type", "hidden");
			input.setAttribute("id", "modalHiddenAttr");
			input.setAttribute("data-focus", id);

			document.getElementById('supplierIdModalBody').appendChild(input);
		}

			var inputs = document.querySelectorAll("#"+id+" input");
			for (var i = 0; i < inputs.length; i++) {						
					supplierIDs = inputs[i].value;				
				}
				console.log("supplierIDs:::"+supplierIDs);
			if (supplierIDs)supplierIDArr=supplierIDs.split(','); 
			console.log(supplierIDArr);
			if (supplierIDArr.length>0) {
				var inputs = document.querySelectorAll("#supplierIdModal input");
				for (var i = 0; i < inputs.length; i++) {
					document.getElementById(inputs[i].id).value = '';
					console.log('i='+i+' length='+supplierIDArr.length)	;
					if (supplierIDArr.length > i ){console.log('Setting popup for'+inputs[i].id);
					document.getElementById(inputs[i].id).value = supplierIDArr[i];}
				}	
			}

		}


		populateSupplierID = 	function(focusElement){
			console.log("SUBMITTED");
			console.log(focusElement);
			var supplierIDs = '';
			var inputs = document.querySelectorAll("#supplierIdModal input");
				for (var i = 0; i < inputs.length; i++) {	
					if (inputs[i].value)supplierIDs+=','+inputs[i].value;
				}

			
			supplierIDs = supplierIDs.replace(/(^[,\s]+)|([,\s]+$)/g, '');
			
			console.log("supplierID is: "+supplierIDs);
			var inputs = document.querySelectorAll("#"+focusElement+" input");
			for (var i = 0; i < inputs.length; i++) {						
				inputs[i].value = supplierIDs;
				//inputs[i].setAttribute("data-toggle", "tooltip");
				
				inputs[i].title = supplierIDs;

				
				//$('#'+inputs[i].id).attr('data-original-title',supplierIDs);
				//$('#'+inputs[i].id).tooltip();   

				}

			//document.getElementById("id_form-0-supplierId").value = supplierIDs;
			
		}	
	</script>

	<title>USPS Business Partner Registration - Search</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />

	<link rel="shortcut icon" href="{% static 'icons/favicon.ico' %}" type="image/x-icon">

	<link rel="stylesheet" href="{% static 'styles/common-usps.css' %}" type="text/css" media="all" />
	<link rel="stylesheet" href="{% static 'styles/bcg.css' %}" type="text/css" media="all" />
	<link type="text/css" href="{% static 'styles/redesign.css' %}" rel="Stylesheet" />
	<link type="text/css" href="{% static 'styles/bootstrap-iso.css' %}" rel="Stylesheet" />
	
	<script type="text/javascript" language="javascript" src="{% static 'scripts/jquery.min.js' %}"></script>
	<script type="text/javascript" language="javascript" src="{% static 'scripts/bpg.js' %}"></script>
	<script type="text/javascript" language="javascript"
		src="{% static 'scripts/bootstrap/bootstrap.min.js' %}"></script>

</head>

<body class="claro" id="pageBodyId">
	<!-- begin #page -->
	<div id="page">
		<div class="bootstrap-iso pt-0 mt-0 mb-0 pb-0">
			<nav id="myNavbar" class="navbar" role="navigation">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="container-fluid navbar-gradient pt-0 mt-0 mb-0 pb-0">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<div class="nav navbar-header" id="navbarAfterLogin">
									<div class="row navbar-nav mb-0 pb-0" style="padding-top: 1%;">
										<img src="{% static 'images/usps-logo-withouttext.png' %}" class="img-fluid"
											height="20px" width="34px" title="USPS logo"
											alt="USPS logo image of blue eagle" /> <a href="/">
											<img src="{% static 'images/USPS-BusinessPartnerGateway.png' %}"
												class="img-fluid" tabindex="16"
												title="Link to Business Partner Gateway&apos;s Home Page"
												alt="Image for Business Partner Gateway&apos;s Home Page link"
												height="20px" width="335px" />
										</a>
									</div>
								</div>

								<div class="row" style="float: right; margin-right: 3%;">
									<div class="col-12">
										<ul class="nav navbar-nav " id="navbar-display-name"
											style="float: right; padding-right: 0%;">
											<!-- String Logout URLs -->
											<script>var logoutUrls = []</script>
											{% for lst in serviceList %}
											{% if lst.userName %}
											<li style="padding-right: 20px;">
												<span class="navbar-text-blue"> Welcome <b>{{lst.userName}}</b></span>
											</li>
											<li>
												<span class="navbar-text-blue"><a href="javascript:void(0);"
														onclick="logout()">Logout</a></span>
											</li>
											{% endif %}
											{% endfor %}

										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</nav>

		</div>




		<div id="main">

			<!-- TAB E content-->

			<div class="bootstrap-iso">

				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h2 class="service-page-title" style="margin-top: 20px;margin-bottom: 20px;">Business
								Partner Registration - Search</h2>
						</div>
					</div>
				</div>

				<div class="container-fluid service-page-area">
					<div class="container service-page-container">
						<div class="row">
							<div class="col-md-8 col-sm-7" style="margin-left: 15px;">
								<div class="hcsIcon left" alt="icon of white truck"></div>
								<h4 class="serviceHeader">Search Registered Partners</h4>
								<h6 class="serviceHeader text-justify" style="font-weight: normal; padding-top: 10px;">
									Utilize the form below to search partners invited using Business Partner Registration Application.</h6>
							</div>
							<div class="col-md-3 text-right"
								style="float: right; margin-right: 15px; margin-top: 15px;">
								<img title="" width="232" height="150" src="{% static 'images/hcs_image.png' %}"
									alt="image of parked postal trucks">
							</div>
						</div>
						<!-- Check if you are not in Production-->
						{% for lst in serviceList %}
						{% if lst.userName and lst.instanceName != "PROD" %}
						<div class="row" align="center" style="margin-left: 15px; margin-top: 2px;">
							<marquee behavior="alternate" bgcolor="#bb3434" direction="left" loop="7" scrollamount="1"
								scrolldelay="2" width="98%" style="box-shadow: 2px 2px 2px grey;">
								<span style="font-size: 20px;color:#FFFFFF">
									You are accessing a Test Site ({{lst.instanceName}}). Production URL is:
									<a href='https://logistics.usps.com'><span
											style="color:#FFFF00">https://logistics.usps.com</span></a></span>
							</marquee>
						</div>
						{% endif %}
						{% endfor %}
						<!-- Table include -->

						<form action="" method="POST" class="form-group" id="bpgrgsearch-form">							
							{% csrf_token %}
							<div class="form-group col-md-5">
    							<label for="srchEmail">Email</label>
								<input type="email" class="form-control" id="srchEmail" name="srchEmail" aria-describedby="emailHelp" placeholder="Enter email">								
							</div>
							<div class="form-group col-md-5">
								<label for="srchDisplayName">Full Name</label>
								<input type="text" class="form-control" name="srchDisplayName" id="srchDisplayName" placeholder="Enter Full Name">
							</div>
							
							<div class="col-sm-4">
							<input class="btn btn-primary btn-sm" type="reset" value="Reset" id="btnReset">
							
							<input class="btn btn-primary btn-sm" type="submit" value="Search" id="btnSearch">							
							</div>
							<div id="formErr" class="form-group col-md-5 error-bold"></div>	
						</form>
						
							<table class="table table-sm table-striped table-bordered table-hover" id="tblUsers">
								<thead class="thead-dark">
									<tr class="table-primary">
										<th>First Name</th>
										<th>Last Name</th>
										<th>Email</th>
										<th>Company</th>
										<th>Invitation Status</th>
										<th>Supplier ID</th>
										<th>Applications</th>										
									</tr>
								</thead>
								<tbody>
								
									{% for user in users_list %}
									<tr>
										<td> {{ user.firstName }}</td>
										<td> {{ user.lastName }}</td>
										<td> {{ user.email }}</td>
										<td > {{ user.company }}</td>
										<td > {{ user.invitationStatus }}</td>
										<td data-id="supplierInput{{forloop.counter}}" data-toggle="modal"
																data-target="#supplierIdModal" id="supplierInput{{forloop.counter}}"
																 onclick="openSupplierPopup(this.id);"> {{ form.supplierId }}</td>
										<td>{{form.ileAppFlag}} ILE<br>{{form.faAppFlag}} FA</td>							
										{% if form.responseText %}
										<td style="color: red;font-size:small;">{{form.responseText}}</td>
										{% endif %}
										{% if forloop.counter == formset.total_form_count or formset.total_form_count == 1 %}
										<td>
											<div class="input-group-append">
												<input type="hidden" value="false" name="additems" id="additems">
												<button class="btn btn-success" id="additemsbutton">+</button>
											</div>
										</td>
										{% endif %}
										{% if forloop.counter == formset.total_form_count and formset.total_form_count > 1 %}
										<td>
											<div class="input-group-append">
												<input type="hidden" value="false" name="removeitems" id="removeitems">
												<button class="btn btn-danger" id="removeitemsbutton">-</button>
											</div>
										</td>
										{% endif %}
										
									</tr>
									
									{% endfor %}
								</tbody>
							</table>

						<!-- Start Supplier Modal-->
						<div class="modal fade" id="supplierIdModal" name="supplierIdModal" role="dialog" aria-labelledby="supplierIdModal"
							aria-hidden="true">
							<div class="modal-dialog modal-sm" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
										<h4 class="modal-title" id="pendingActivationModal">Enter Supplier IDs
										</h4>
									</div>
						
									<div class="modal-body" id="supplierIdModalBody">
						
										<div class="form-group">
											<label for="supplier1">Supplier#1</label>
											<input type="number" class="form-control form-control-sm" id="supplier1" placeholder="Enter Supplier ID">
										</div>
										<div class="form-group ">
											<label for="supplier2">Supplier#2</label>
											<input type="number" class="form-control" id="supplier2" placeholder="Enter Supplier ID">
										</div>
										<div class="form-group">
											<label for="supplier3">Supplier#3</label>
											<input type="number" class="form-control" id="supplier3" placeholder="Enter Supplier ID">
										</div>
										<div class="form-group">
											<label for="supplier4">Supplier#4</label>
											<input type="number" class="form-control" id="supplier4" placeholder="Enter Supplier ID">
										</div>
										<div class="form-group">
											<label for="supplier5">Supplier#5</label>
											<input type="number" class="form-control" id="supplier5" placeholder="Enter Supplier ID">
										</div>
										<button type="button" class="btn btn-primary" data-dismiss="modal"
											onclick="populateSupplierID(document.getElementById('modalHiddenAttr').getAttribute('data-focus'))">Submit</button>
						
									</div>
								</div>
							</div>
						</div>
									<!-- END Supplier Modal-->
						<script>
		
		$(document).ready(function () {
			/*Tooltip*/	
			$('input[id$="-email"]').on('keyup',function(){
    $(this).attr('title',$(this).val())
  })
  $('input[id$="-company"]').on('keyup',function(){
    $(this).attr('title',$(this).val())
  })		
			$("#btnReset").on('click', function (event) {
				$("#srchDisplayName").val("");
				$("#srchEmail").val("");
				$('#formErr').html("");			
				$('#tblUsers tbody').empty();
			});		
		});

		$('#bpgrgsearch-form').submit( function(event) {
    // disable to avoid double submission
	if ($('#srchEmail').val().length==0 && $('#srchDisplayName').val().length==0  )
	{
		$('#formErr').html("Please provide at least one of the value to search");
	return false;
	}
	else{
	$('#formErr').html("");
    $('#btnSearch').attr('disabled', true);
	$('#btnSearch').val('Please Wait');
	}
});
						</script>
						<div class="row">
							<div class="col-md-12" style="margin-left: 15px;">
								<div id="accessTableId">

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- end page-section-->

		<!-- end #main-inner -->


		<!-- End #page -->
		
	</div>
	<!-- Begin Footer -->
	<div id="footer" class="footer">
		<div class="section">
		</div>
	</div>
</body>

</html>